/*
!/.gitignore
!/README.md

# recursively include and exclude
!/src
/src/**
!/src/applications
/src/applications/**

!/src/applications/model
/src/applications/model/**
!/src/applications/model/rtsp-server.h
!/src/applications/model/rtsp-server.cc
!/src/applications/model/rtsp-client.h
!/src/applications/model/rtsp-client.cc
!/src/applications/helper

/src/applications/helper/**
!/src/applications/helper/rtsp-client-server-helper.h
!/src/applications/helper/rtsp-client-server-helper.cc
!/src/applications/wscript

!/scratch